<div>
    <h3>CSS Icon</h3>
    <ul>
        <li>Author: <a href="https://www.deviantart.com/daphyre/">daPhyre</a></li>
        <li>Source: <a href="https://commons.wikimedia.org/wiki/File:CSS3_logo.svg">https://commons.wikimedia.org/wiki/File:CSS3_logo.svg</a></li>
        <li>License: <a href="https://creativecommons.org/licenses/by/3.0/deed.en">Creative Commons Attribution 3.0 Unported</a></li>
        <li>Changes: None</li>
    </ul>
    <h3>HTML Icon</h3>
    <ul>
        <li>Author: W3C</li>
        <li>Source: <a href="https://commons.wikimedia.org/wiki/File:HTML5_Badge.svg">https://commons.wikimedia.org/wiki/File:HTML5_Badge.svg</a></li>
        <li>License: <a href="https://creativecommons.org/licenses/by/3.0/deed.en">Creative Commons Attribution 3.0 Unported</a></li>
        <li>Changes: None</li>
    </ul>
    <h3>JavaScript Icon</h3>
    <ul>
        <li>Author: JavaScript Corp.</li>
        <li>Source: <a href="https://commons.wikimedia.org/wiki/File:Javascript_Logo.png">https://commons.wikimedia.org/wiki/File:Javascript_Logo.png</a></li>
        <li>License: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">Creative Commons Attribution-Share Alike 4.0 International</a></li>
        <li>Changes: None</li>
    </ul>
    <h3>NodeJS Icon</h3>
    <ul>
        <li>Author: <a href="https://fontawesome.com/">&#64;fontawesome</a></li>
        <li>Source: <a href="https://commons.wikimedia.org/wiki/File:Font_Awesome_5_brands_node-js.svg">https://commons.wikimedia.org/wiki/File:Font_Awesome_5_brands_node-js.svg</a></li>
        <li>License: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">Creative Commons Attribution-Share Alike 4.0 International</a></li>
        <li>Changes: Color modified</li>
    </ul>
    <h3>C++ Icon</h3>
    <ul>
        <li>Author: <a href="https://github.com/jwkratz">Jeremy Kratz</a> via Standard C++ Foundation</li>
        <li>Source: <a href="https://commons.wikimedia.org/wiki/File:ISO_C%2B%2B_Logo.svg">https://commons.wikimedia.org/wiki/File:ISO_C%2B%2B_Logo.svg</a></li>
        <li>License: <a href="https://isocpp.org/home/terms-of-use#:~:text=The%20%E2%80%9CStandard%20C%2B%2B%20Foundation%E2%80%9D%20name,without%20permission%20from%20the%20Foundation.">Standard C++ Foundation Terms of Use</a></li>
        <li>Changes: None</li>
        <li>Disclaimer: The “Standard C++ Foundation” name and stylized “C++” logo are trademarks of the Standard C++ Foundation</li>
    </ul>
    <h3>Python Icon</h3>
    <ul>
        <li>Author: <a href="https://commons.wikimedia.org/wiki/User:Dnu72">Dnu72</a></li>
        <li>Source: <a href="https://commons.wikimedia.org/wiki/File:Python_logo_01.svg">https://commons.wikimedia.org/wiki/File:Python_logo_01.svg</a></li>
        <li>License: <a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License 3.0</a></li>
        <li>Changes: None</li>
    </ul>
    <h3>TypeScript Icon</h3>
    <ul>
        <li>Author: <a href="https://github.com/microsoft/TypeScript-Website">Microsoft</a> vectorized by <a href="https://commons.wikimedia.org/wiki/User:Vulphere">Vulphere</a></li>
        <li>Source: <a href="https://commons.wikimedia.org/wiki/File:Typescript_logo_2020.svg">https://commons.wikimedia.org/wiki/File:Typescript_logo_2020.svg</a></li>
        <li>License: <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a></li>
        <li>Changes: None</li>
    </ul>
</div>