<div id="top-navbar">
    <div class="items-baseline">
        <a class="navbar-item navbar-title" href="/">Chris Zeller</a>
        <span class="navbar-item navbar-decor">Software Engineer</span>
    </div>
    <div class="items-center">
        <a class="navbar-item navbar-button navbar-dropdown-button" href="./portfolio">Portfolio</a>
        <span class="navbar-dropdown">
            <a class="navbar-item navbar-button navbar-dropdown-button">Links</a>
            <div class="navbar-dropdown-content">
                <a class="navbar-item navbar-button navbar-dropdown-item" href="https://github.com/Rauncy">Github</a>
                <a class="navbar-item navbar-button navbar-dropdown-item">Leetcode</a>
            </div>
        </span>
        <span class="navbar-dropdown">
            <a class="navbar-item navbar-button navbar-dropdown-button">Contact me</a>
            <div class="navbar-dropdown-content">
                <a class="navbar-item navbar-button navbar-dropdown-item" href="mailto:chrszlr@gmail.com">Email</a>
            </div>
        </span>
    </div>
</div>