<div id="top-navbar">
    <span class="navbar-item navbar-title">Chris Zeller <span class="decor">Software Engineer</span></span>
    <div>
        <span class="navbar-dropdown">
            <span class="navbar-item navbar-button navbar-dropdown-button">Links</span>
            <div class="navbar-dropdown-content">
                <a class="navbar-item navbar-button navbar-dropdown-item" href="https://github.com/Rauncy">Github</a>
                <a class="navbar-item navbar-button navbar-dropdown-item">Leetcode</a>
            </div>
        </span>
        <span class="navbar-item navbar-button navbar-dropdown-button">Portfolio</span>
    </div>
</div>